<app-sidenav></app-sidenav>

<div class="rgb-effect">
  <mat-card class="card-general" style="width: 1000px; height: auto; margin: auto; margin-top: 10px;">
    <!-- Première rangée -->
    <div style="display: flex;">
      <div style="width: 100%;">
        <div style="height: 65px;" class="card-component center">
          <app-count-money [moneyCount]="numberOfMoney"></app-count-money>
        </div>
        <div style="height: 65px;" class="card-component center">
          <app-count-user [userCount]="numberOfUsers"></app-count-user>
        </div>
        <div style="height: 65px;" class="card-component center">
          <span>Inserer composant</span>
        </div>
        <div style="height: 65px;" class="card-component center">
          <span>Inserer composant</span>
        </div>
      </div>
      <div class="card-component">
        <span>Stocks</span>
        <app-pie-chart></app-pie-chart>
      </div>
      <div class="card-component">
        <span>ajouter un graphique different</span>
        <app-pie-chart></app-pie-chart>
      </div>
    </div>

    <div>
      <div class="card-component" style="height: 100%;">
        <app-sells-chart></app-sells-chart>
      </div>
    </div>
  </mat-card>
</div>

