<app-sidenav></app-sidenav>

<div>
    <div class="slide-toggle">
        <h4>Activer ou désactiver la modification</h4>
        <mat-slide-toggle [(ngModel)]="isChecked" (change)="modifierModeEdition()"></mat-slide-toggle>
    </div>
    <mat-tab-group class="navTab">
        <mat-tab *ngFor="let categorie of dataSource" [label]="categorie.nom">
            <app-tableau-general [categorie]="categorie.nom" [modeEdition]="modeEdition"></app-tableau-general>
        </mat-tab>
    </mat-tab-group>
</div>
