.navTab {
  max-width: 100%;
  margin-left: 80px;
  background-color: #9f9d9db4;
}

.slide-toggle {
  position: static; 
  margin-top: 250px;
  margin-bottom: 25px;
  margin-left: 80px;
  color: black;
  z-index: auto;
}

.product-form {
  text-align: center;
  margin-top: 20px;
}

.dialog-title {
  color: white;
}

.input-field {
  margin-bottom: 15px;
  width: 100%;
}

  
  
  
  