<div style="display: block">
    <div style="display: block">
        <select [(ngModel)]="selectedDateType" (change)="loadChart(selectedDateType)">
            <option value="">Sélectionnez un type de date</option>
            <option value="day">Jour</option>
            <option value="month">Mois</option>
            <option value="year">Année</option>
        </select>
    </div>
    <div style="display: block">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [type]="lineChartType"
                [legend]="lineChartLegend">
        </canvas>
    </div>
</div>

