<mat-drawer-container class="sidenav-container" autosize>
  <mat-toolbar class="toolbar-container">
    <button (click)="drawer.toggle()">
      <mat-icon style="cursor: pointer;">menu</mat-icon>
    </button>

    <span style="padding: 20px;">SeaMarket-Manager</span>
  </mat-toolbar>

  <mat-drawer class="slide-container" #drawer mode="side" opened> 
    <div class="sidenav-content">
      <div class="button-container">
        <button class="button" (click)="nagivateToDashboard()">
          <mat-icon>dashboard</mat-icon>
        </button>
        <button class="button" (click)="nagivateToProduit()">
          <mat-icon>store</mat-icon>
        </button>
        <button class="button" (click)="nagivateToAnalyse()">
          <mat-icon> attach_money</mat-icon>
        </button>
        <button class="button" (click)="nagivateToModifUser()">
          <mat-icon>supervisor_account</mat-icon>
        </button>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
<div class="rgb-effect"></div>
