.toolbar-container{
    background-color: #c9c9c9;
}
.sidenav-container {
    width: 100%;
    height: 100%;
    border: 1px solid #1559f780;
    background-color: whitesmoke;
  }
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    background-color: #c9c9c9;
  }
  .sidenav-content button{
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #B9B9B9;
  }
  
  .example-spacer {
    padding: 20px;
  }
  
  